.container .image {
  /*transition-duration: 0.5ms;*/
  transition-timing-function: ease-in;
  backface-visibility: hidden;
}

.container:hover .image {
  opacity: 0.4;
}

.container:hover .hoverText {
  opacity: 1;
  @apply text-base;
}

.SearchBoxInput::-webkit-search-decoration,
.SearchBoxInput::-webkit-search-cancel-button,
.SearchBoxInput::-webkit-search-results-button,
.SearchBoxInput::-webkit-search-results-decoration {
  display: none;
}

.HitsPerPageSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27%3E%3Cpath d=%27M0 7.3l2.8-2.8 9.2 9.3 9.2-9.3 2.8 2.8-12 12.2z%27 fill%3D%22%233A4570%22 /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 92% 50%;
}

.HitsPerPageOption {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
}

.BreadcrumbLink,
.HierarchicalMenuLink,
.MenuLink,
.PaginationLink,
.RatingMenuLink {
  color: #9cb4ac;
  transition: color 0.2s ease-out;
}

.BreadcrumbLink:hover,
.BreadcrumbLink:focus,
.HierarchicalMenuLink:hover,
.HierarchicalMenuLink:focus,
.MenuLink:hover,
.MenuLink:focus,
.PaginationLink:hover,
.PaginationLink:focus,
.RatingMenuLink:hover,
.RatingMenuLink:focus {
  color: #9cb4ac;
}

.PaginationList {
  justify-content: center;
}

.PaginationItem + .PaginationItem {
  margin-left: 0.3rem;
}

.PaginationLink {
  padding: 0.3rem 0.6rem;
  display: block;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
  color: #0f172a !important;
}

.PaginationLink:hover:not(.PaginationItemDisabled .PaginationLink),
.PaginationLink:focus:not(.PaginationItemDisabled .PaginationLink) {
  background-color: #b2945a !important;
  color: #ffffff !important;
}

.PaginationItemDisabled .PaginationLink {
  opacity: 0.6;
  cursor: not-allowed;
  color: #a5abc4;
}

.PaginationItemSelected .PaginationLink {
  color: #fff !important;
  background-color: #b2945a !important;
  border-color: #b2945a !important;
}
