.container .image {
  /*transition-duration: 0.5ms;*/
  transition-timing-function: ease-in;
  backface-visibility: hidden;
}

.container:hover .image {
  opacity: 0.4;
}

.container:hover .hoverText {
  opacity: 1;
}

.BreadcrumbList,
.CurrentRefinementsList,
.HierarchicalMenuList,
.HitsList,
.ResultsList,
.InfiniteHitsList,
.InfiniteResultsList,
.MenuList,
.NumericMenuList,
.PaginationList,
.RatingMenuList,
.RefinementListList,
.ToggleRefinementList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ClearRefinementsButton,
.CurrentRefinementsDelete,
.CurrentRefinementsReset,
.GeoSearchRedo,
.GeoSearchReset,
.HierarchicalMenuShowMore,
.InfiniteHitsLoadPrevious,
.InfiniteHitsLoadMore,
.InfiniteResultsLoadMore,
.MenuShowMore,
.RangeInputSubmit,
.RefinementListShowMore,
.SearchBoxSubmit,
.SearchBoxReset,
.VoiceSearchButton {
  padding: 0;
  overflow: visible;
  font: inherit;
  line-height: normal;
  color: inherit;
  background: none;
  border: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.ClearRefinementsButton::-moz-focus-inner,
.CurrentRefinementsDelete::-moz-focus-inner,
.CurrentRefinementsReset::-moz-focus-inner,
.GeoSearchRedo::-moz-focus-inner,
.GeoSearchReset::-moz-focus-inner,
.HierarchicalMenuShowMore::-moz-focus-inner,
.InfiniteHitsLoadPrevious::-moz-focus-inner,
.InfiniteHitsLoadMore::-moz-focus-inner,
.InfiniteResultsLoadMore::-moz-focus-inner,
.MenuShowMore::-moz-focus-inner,
.RangeInputSubmit::-moz-focus-inner,
.RefinementListShowMore::-moz-focus-inner,
.SearchBoxSubmit::-moz-focus-inner,
.SearchBoxReset::-moz-focus-inner,
.VoiceSearchButton::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.ClearRefinementsButton[disabled],
.CurrentRefinementsDelete[disabled],
.CurrentRefinementsReset[disabled],
.GeoSearchRedo[disabled],
.GeoSearchReset[disabled],
.HierarchicalMenuShowMore[disabled],
.InfiniteHitsLoadPrevious[disabled],
.InfiniteHitsLoadMore[disabled],
.InfiniteResultsLoadMore[disabled],
.MenuShowMore[disabled],
.RangeInputSubmit[disabled],
.RefinementListShowMore[disabled],
.SearchBoxSubmit[disabled],
.SearchBoxReset[disabled],
.VoiceSearchButton[disabled] {
  cursor: default;
}
.InfiniteHitsLoadPrevious,
.InfiniteHitsLoadMore,
.HierarchicalMenuShowMore,
.MenuShowMore,
.RefinementListShowMore {
  overflow-anchor: none;
}
.BreadcrumbList,
.BreadcrumbItem,
.PaginationList,
.RangeInputForm,
.RatingMenuLink,
.PoweredBy {
  display: flex;
  align-items: center;
}
.GeoSearch,
.GeoSearchMap {
  height: 100%;
}
.HierarchicalMenuList .HierarchicalMenuList {
  margin-left: 1em;
}
.PoweredByLogo {
  display: block;
  height: 1.2em;
  width: auto;
}
.PoweredByText {
  margin-right: 0.3rem;
}
.RatingMenuStarIcon {
  display: block;
  width: 20px;
  height: 20px;
}
.SearchBoxInput::-ms-clear,
.SearchBoxInput::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.SearchBoxInput::-webkit-search-decoration,
.SearchBoxInput::-webkit-search-cancel-button,
.SearchBoxInput::-webkit-search-results-button,
.SearchBoxInput::-webkit-search-results-decoration {
  display: none;
}

.RangeSlider .rheostat {
  overflow: visible;
  margin-top: 40px;
  margin-bottom: 40px;
}
.RangeSlider .rheostatBackground {
  height: 6px;
  top: 0px;
  width: 100%;
}
.RangeSlider .rheostatHandle {
  margin-left: -12px;
  top: -7px;
}
.RangeSlider .rheostatBackground {
  position: relative;
  background-color: #fff;
  border: 1px solid #aaa;
}
.RangeSlider .RheostatProgress {
  position: absolute;
  top: 1px;
  height: 4px;
  background-color: #333;
}
.RheostatHandle {
  position: relative;
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 50%;
  cursor: grab;
}
.RheostatMarker {
  margin-left: -1px;
  position: absolute;
  width: 1px;
  height: 5px;
  background-color: #aaa;
}
.RheostatMarker--large {
  height: 9px;
}
.RheostatValue {
  margin-left: 50%;
  padding-top: 15px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
.RheostatTooltip {
  margin-left: 50%;
  position: absolute;
  top: -22px;
  text-align: center;
  transform: translateX(-50%);
}

/*[class^=""] {*/
/*  font-size: 1rem;*/
/*  box-sizing: border-box;*/
/*}*/
/*a[class^=""] {*/
/*  text-decoration: none;*/
/*}*/

.Breadcrumb,
.ClearRefinements,
.CurrentRefinements,
.GeoSearch,
.HierarchicalMenu,
.Hits,
.Results,
.HitsPerPage,
.ResultsPerPage,
.InfiniteHits,
.InfiniteResults,
.Menu,
.MenuSelect,
.NumericMenu,
.NumericSelector,
.Pagination,
.Panel,
.PoweredBy,
.RangeInput,
.RangeSlider,
.RatingMenu,
.RefinementList,
.SearchBox,
.RelevantSort,
.SortBy,
.Stats,
.ToggleRefinement {
  color: #3a4570;
}

.HitsPerPageOption {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
}
.BreadcrumbItem--selected,
.HierarchicalMenuItem--selected,
.MenuItem--selected {
  font-weight: bold;
}
.BreadcrumbSeparator {
  margin: 0 0.3em;
  font-weight: normal;
}
.BreadcrumbLink,
.HierarchicalMenuLink,
.MenuLink,
.PaginationLink,
.RatingMenuLink {
  color: #0096db;
  transition: color 0.2s ease-out;
}
.BreadcrumbLink:hover,
.BreadcrumbLink:focus,
.HierarchicalMenuLink:hover,
.HierarchicalMenuLink:focus,
.MenuLink:hover,
.MenuLink:focus,
.PaginationLink:hover,
.PaginationLink:focus,
.RatingMenuLink:hover,
.RatingMenuLink:focus {
  color: #0073a8;
}

.ClearRefinementsButton,
.CurrentRefinementsReset,
.GeoSearchRedo,
.GeoSearchReset,
.HierarchicalMenuShowMore,
.InfiniteHitsLoadPrevious,
.InfiniteHitsLoadMore,
.InfiniteResultsLoadMore,
.MenuShowMore,
.RefinementListShowMore,
.RelevantSortButton {
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  color: #fff;
  background-color: #0096db;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
  outline: none;
}
.ClearRefinementsButton:hover,
.ClearRefinementsButton:focus,
.CurrentRefinementsReset:hover,
.CurrentRefinementsReset:focus,
.GeoSearchRedo:hover,
.GeoSearchRedo:focus,
.GeoSearchReset:hover,
.GeoSearchReset:focus,
.HierarchicalMenuShowMore:hover,
.HierarchicalMenuShowMore:focus,
.InfiniteHitsLoadPrevious:hover,
.InfiniteHitsLoadPrevious:focus,
.InfiniteHitsLoadMore:hover,
.InfiniteHitsLoadMore:focus,
.InfiniteResultsLoadMore:hover,
.InfiniteResultsLoadMore:focus,
.MenuShowMore:hover,
.MenuShowMore:focus,
.RefinementListShowMore:hover,
.RefinementListShowMore:focus,
.RelevantSortButton:hover,
.RelevantSortButton:focus {
  background-color: #0073a8;
}
.ClearRefinementsButton--disabled,
.GeoSearchRedo--disabled,
.GeoSearchReset--disabled,
.HierarchicalMenuShowMore--disabled,
.InfiniteHitsLoadMore--disabled,
.InfiniteResultsLoadMore--disabled,
.MenuShowMore--disabled,
.RefinementListShowMore--disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.ClearRefinementsButton--disabled:hover,
.ClearRefinementsButton--disabled:focus,
.GeoSearchRedo--disabled:hover,
.GeoSearchRedo--disabled:focus,
.GeoSearchReset--disabled:hover,
.GeoSearchReset--disabled:focus,
.HierarchicalMenuShowMore--disabled:hover,
.HierarchicalMenuShowMore--disabled:focus,
.InfiniteHitsLoadMore--disabled:hover,
.InfiniteHitsLoadMore--disabled:focus,
.InfiniteResultsLoadMore--disabled:hover,
.InfiniteResultsLoadMore--disabled:focus,
.MenuShowMore--disabled:hover,
.MenuShowMore--disabled:focus,
.RefinementListShowMore--disabled:hover,
.RefinementListShowMore--disabled:focus {
  background-color: #0096db;
}
.InfiniteHitsLoadPrevious--disabled {
  display: none;
}

.CurrentRefinements {
  margin-top: -0.3rem;
  display: flex;
  flex-wrap: wrap;
}
.CurrentRefinementsList {
  display: flex;
  flex-wrap: wrap;
}
.CurrentRefinementsItem {
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  padding: 0.3rem 0.5rem;
  display: flex;
  background-color: #495588;
  border-radius: 5px;
}
.CurrentRefinementsCategory {
  margin-left: 0.3em;
  display: flex;
}
.CurrentRefinementsDelete {
  margin-left: 0.3rem;
}
.CurrentRefinementsLabel,
.CurrentRefinementsCategoryLabel,
.CurrentRefinementsDelete {
  white-space: nowrap;
  font-size: 0.8rem;
  color: #fff;
}
.CurrentRefinementsReset {
  margin-top: 0.3rem;
  white-space: nowrap;
}
.CurrentRefinementsReset + .CurrentRefinementsList {
  margin-left: 0.3rem;
}
.GeoSearch {
  position: relative;
}
.GeoSearchControl {
  position: absolute;
  top: 0.8rem;
  left: 3.75rem;
}
.GeoSearchLabel {
  display: block;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  outline: none;
}
.GeoSearchInput {
  margin: 0 0.25rem 0 0;
}
.GeoSearchLabel,
.GeoSearchRedo,
.GeoSearchReset {
  white-space: nowrap;
}
.GeoSearchReset {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
}
.HierarchicalMenuLink,
.MenuLink {
  display: block;
  line-height: 1.5;
}

.HierarchicalMenuList,
.MenuList,
.NumericMenuList,
.RatingMenuList,
.RefinementListList {
  font-weight: normal;
  line-height: 1.5;
}
.HierarchicalMenuLink:after {
  margin-left: 0.3em;
  content: "";
  width: 10px;
  height: 10px;
  display: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27%3E%3Cpath d=%27M7.3 24l-2.8-2.8 9.3-9.2-9.3-9.2 2.8-2.8 12.2 12z%27 fill%3D%22%233A4570%22 /%3E%3C/svg%3E");
  background-size: 100% 100%;
}
.HierarchicalMenuItemParent > .HierarchicalMenuLink:after {
  display: inline-block;
}
.HierarchicalMenuItemSelected > .HierarchicalMenuLink:after {
  transform: rotate(90deg);
}
.CurrentRefinementsCount,
.RatingMenuCount {
  font-size: 0.8rem;
}
.CurrentRefinementsCount:before,
.RatingMenuCount:before {
  content: "(";
}
.CurrentRefinementsCount:after,
.RatingMenuCount:after {
  content: ")";
}
.HierarchicalMenuCount,
.MenuCount,
.RefinementListCount,
.ToggleRefinementCount {
  padding: 0.1rem 0.4rem;
  font-size: 0.8rem;
  color: #3a4570;
  background-color: #dfe2ee;
  border-radius: 8px;
}
.HierarchicalMenuShowMore,
.MenuShowMore,
.RefinementListShowMore {
  margin-top: 0.5rem;
}
.HighlightHighlighted,
.SnippetHighlighted {
  background-color: #ffc168;
}
.ReverseHighlightHighlighted,
.ReverseSnippetHighlighted {
  font-weight: bold;
  font-style: normal;
  background: none;
}
.InfiniteHitsList,
.InfiniteResultsList,
.HitsList,
.ResultsList {
  margin-top: -1rem;
  margin-left: -1rem;
  display: flex;
  flex-wrap: wrap;
}
.PanelBody .InfiniteHitsList,
.PanelBody .InfiniteResultsList,
.PanelBody .HitsList,
.PanelBody .ResultsList {
  margin: 0.5rem 0 0 -1rem;
}
.InfiniteHitsItem,
.InfiniteResultsItem,
.HitsItem,
.ResultsItem {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  width: calc(25% - 1rem);
  border: 0;
}
.PanelBody .InfiniteHitsItem,
.PanelBody .InfiniteResultsItem,
.PanelBody .HitsItem,
.PanelBody .ResultsItem {
  margin: 0.5rem 0 0.5rem 1rem;
}
.InfiniteHitsLoadMore,
.InfiniteResultsLoadMore {
  margin-top: 1rem;
}
.InfiniteHitsLoadPrevious {
  margin-bottom: 1rem;
}
.MenuSelectSelect,
.NumericSelectorSelect,
.HitsPerPageSelect,
.ResultsPerPageSelect,
.SortBySelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.3rem 2rem 0.3rem 0.3rem;
  max-width: 100%;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27%3E%3Cpath d=%27M0 7.3l2.8-2.8 9.2 9.3 9.2-9.3 2.8 2.8-12 12.2z%27 fill%3D%22%233A4570%22 /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 92% 50%;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
}
.PanelCollapsible {
  position: relative;
}
.PanelCollapsible.PanelCollapsed .PanelBody,
.PanelCollapsible.PanelCollapsed .PanelFooter {
  display: none;
}
.PanelCollapsible .PanelCollapseButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: none;
  background: none;
}
.PanelHeader {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #c4c8d8;
}
.PanelFooter {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
.RangeInputInput {
  padding: 0 0.2rem;
  width: 5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
.RangeInputSeparator {
  margin: 0 0.3rem;
}
.RangeInputSubmit {
  margin-left: 0.3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 0.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  color: #fff;
  background-color: #0096db;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-out;
  outline: none;
}
.RangeInputSubmit:hover,
.RangeInputSubmit:focus {
  background-color: #0073a8;
}
.RatingMenuCount {
  color: #3a4570;
}

.PaginationList {
  justify-content: center;
}
.PaginationItem + .PaginationItem {
  margin-left: 0.3rem;
}
.PaginationLink {
  padding: 0.3rem 0.6rem;
  display: block;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
}
.PaginationLink:hover,
.PaginationLink:focus {
  background-color: #e3e5ec;
}
.PaginationItem--disabled .PaginationLink {
  opacity: 0.6;
  cursor: not-allowed;
  color: #a5abc4;
}
.PaginationItem--disabled .PaginationLink:hover,
.PaginationItem--disabled .PaginationLink:focus {
  color: #a5abc4;
  background-color: #fff;
}
.PaginationItem--selected .PaginationLink {
  color: #fff;
  background-color: #0096db;
  border-color: #0096db;
}
.PaginationItem--selected .PaginationLink:hover,
.PaginationItem--selected .PaginationLink:focus {
  color: #fff;
}
.PoweredByText,
.RheostatTooltip,
.RheostatValue,
.StatsText,
.RelevantSortText {
  font-size: 0.8rem;
}
.RangeSlider .RheostatProgress {
  background-color: #495588;
}
.RangeSlider .RheostatBackground {
  border-color: #878faf;
  box-sizing: border-box;
}
.RangeSlider .RheostatHandle {
  border-color: #878faf;
}
.RangeSlider .RheostatMarker {
  background-color: #878faf;
}
.PanelBody .RangeSlider {
  margin: 2rem 0;
}
.RangeSliderHandle {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
  background: #fff;
  border: 1px solid #46aeda;
  border-radius: 50%;
  cursor: pointer;
}
.RangeSliderTooltip {
  position: absolute;
  background: #fff;
  top: -22px;
  font-size: 0.8em;
}
.RangeSliderValue {
  width: 40px;
  position: absolute;
  text-align: center;
  margin-left: -20px;
  padding-top: 15px;
  font-size: 0.8em;
}
.RangeSliderMarker {
  position: absolute;
  background: #ddd;
  margin-left: -1px;
  width: 1px;
  height: 5px;
}
.RatingMenuItem--disabled .RatingMenuCount,
.RatingMenuItem--disabled .RatingMenuLabel {
  color: #c4c8d8;
}
.RatingMenuItem--selected {
  font-weight: bold;
}
.RatingMenuLink {
  line-height: 1.5;
}
.RatingMenuLink > * + * {
  margin-left: 0.3rem;
}
.RatingMenuStarIcon {
  position: relative;
  top: -1px;
  width: 15px;
  fill: #ffc168;
}
.RatingMenuItem--disabled .RatingMenuStarIcon {
  fill: #c4c8d8;
}
.HierarchicalMenuSearchBox > *,
.MenuSearchBox > *,
.RefinementListSearchBox > * {
  margin-bottom: 0.5rem;
}
.SearchBoxForm {
  display: block;
  position: relative;
}
.SearchBoxInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.3rem 1.7rem;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
}
.SearchBoxInput::-webkit-input-placeholder {
  color: #a5aed1;
}
.SearchBoxInput::-moz-placeholder {
  color: #a5aed1;
}
.SearchBoxInput:-ms-input-placeholder {
  color: #a5aed1;
}
.SearchBoxInput:-moz-placeholder {
  color: #a5aed1;
}
.SearchBoxSubmit,
.SearchBoxReset,
.SearchBoxLoadingIndicator {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  z-index: 1;
  width: 12px;
  height: 12px;
  top: 50%;
  right: 0.3rem;
  transform: translateY(-50%);
}
.SearchBoxSubmit {
  left: 0.3rem;
}
.SearchBoxReset {
  right: 0.3rem;
}
.SearchBoxSubmitIcon,
.SearchBoxResetIcon,
.SearchBoxLoadingIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.SearchBoxSubmitIcon path,
.SearchBoxResetIcon path {
  fill: #495588;
}
.SearchBoxSubmitIcon {
  width: 14px;
  height: 14px;
}
.SearchBoxResetIcon {
  width: 12px;
  height: 12px;
}
.SearchBoxLoadingIcon {
  width: 16px;
  height: 16px;
}
.VoiceSearchButton {
  border: none;
  width: 24px;
  height: 24px;
  padding: 4px;
  border-radius: 50%;
  color: #3a4570;
  background-color: rgba(0, 0, 0, 0);
}
.VoiceSearchButton svg {
  color: currentColor;
}
.VoiceSearchButton:hover {
  cursor: pointer;
  background-color: #a5aed1;
  color: #fff;
}
.VoiceSearchButton:disabled {
  color: #a5aed1;
}
.VoiceSearchButton:disabled:hover {
  color: #a5aed1;
  cursor: not-allowed;
  background: inherit;
}
